header .left-menu a:hover, header .right-menu a:hover, header .left-menu a:focus, header .right-menu a:focus {
  background-color: #f2f2f2;
  color: #2f2f2f;
  text-decoration: none;
}

header .left-menu a, header .dropdown-menu li a {
  -webkit-transition: background-color ease-out .5s;
  transition: background-color ease-out .5s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  transition-property-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: initial;
          transition-delay: initial;
}

body {
  color: #2f2f2f;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

header {
  background-color: #fff;
}

header .logo {
  float: left;
  margin-top: 13px;
}

header .left-menu {
  float: left;
  padding-left: 20px;
  margin: 0;
}

header .left-menu a {
  padding: 0 1.5em;
  float: left;
}

header .left-menu > li {
  position: relative;
  list-style-type: none;
  float: left;
}

header .left-menu i {
  font-size: 12px;
}

header .right-menu a {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
}

header .right-menu a i {
  vertical-align: middle;
  font-size: 20px;
}

header .right-menu .sign-in:hover {
  color: #6eafe3;
}

header .right-menu .search-wrap {
  border: 1px solid #a9a9a9;
  float: right;
  margin-top: 8px;
  margin-right: 20px;
}

header .right-menu .search-wrap input {
  width: 220px;
  padding-left: 15px;
  border: none;
  line-height: 30px;
}

header .right-menu .search-wrap input:focus {
  outline: 0;
}

header .right-menu .search-wrap input::-webkit-input-placeholder {
  color: #2f2f2f;
}

header .right-menu .search-wrap input::-moz-placeholder {
  color: #2f2f2f;
}

header .right-menu .search-wrap input:-ms-input-placeholder {
  color: #2f2f2f;
}

header .right-menu .search-wrap input::placeholder {
  color: #2f2f2f;
}

header .right-menu .search-wrap button {
  border: none;
  background: none;
}

header a {
  line-height: 48px;
  display: inline-block;
  color: #2f2f2f;
}

header a img {
  float: left;
  height: 100%;
  max-height: 23px;
}

header .dropdown-menu {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  z-index: 2;
  padding-left: 0;
  width: 239px;
  background-color: #f2f2f2;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.1);
}

header .dropdown-menu li {
  display: block;
  float: none;
}

header .dropdown-menu li a {
  position: relative;
  display: block;
  float: none;
}

header .dropdown-menu li a:hover {
  background-color: #e5e5e5;
}

header .dropdown-menu li a i {
  position: absolute;
  right: 20px;
  top: 18px;
}

header .dropdown-menu .second-dropdown-menu {
  display: none;
  position: absolute;
  left: 239px;
  top: 0;
  padding-left: 0;
  width: 299px;
  background-color: #e5e5e5;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.1);
}

header .dropdown-menu .second-dropdown-menu a:hover {
  background-color: #d9d9d9;
}

.dropbox {
  position: relative;
  background-color: #eeeeee;
  height: 700px;
  width: 100%;
}

.dropbox .hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  background-image: url("../images/dropbox_hero_unit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.dropbox .hero-text-wrap {
  margin-top: 150px;
  width: 445px;
  color: #47525d;
}

.dropbox .hero-text-wrap h1 {
  font-size: 45px;
  font-weight: lighter;
}

.dropbox .hero-text-wrap h2 {
  font-size: 20px;
  font-weight: lighter;
}

.dropbox .hero-text-wrap .btn-primary {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 14px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
  background-color: #007EE5;
}

.dropbox .hero-text-wrap .btn-primary:hover {
  text-decoration: none;
  background-color: #3398EA;
}

.dropbox .hero-text-wrap span {
  display: block;
}

.dropbox .hero-text-wrap span a {
  text-decoration: underline;
}

.dropbox .hero-text-wrap span a:hover {
  color: #3C9CEB;
}

.invision {
  background-color: #323A45;
  text-align: center;
  color: #fff;
}

.invision h2 {
  margin-top: 150px;
  margin-bottom: 50px;
  font-size: 29px;
  font-weight: lighter;
}

.invision form {
  color: #000;
}

.invision form .col-md-3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.invision form .input {
  position: relative;
  border-radius: 2px;
  background-color: #FFF;
}

.invision form .input i {
  position: absolute;
  left: 15px;
  top: 20px;
  color: #ccc;
  font-size: 20px;
}

.invision form input {
  height: 60px;
  border: none;
  margin-left: 40px;
  outline: none;
}

.invision form button {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f36;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
}

.invision p {
  margin-top: 30px;
  margin-bottom: 150px;
  font-size: 12px;
  color: #777;
}

.invision p a {
  text-decoration: underline;
  color: #777;
}

.invision p a:hover {
  color: #fff;
}

.oculus {
  width: 100%;
}

.oculus .col-4 {
  width: 33.33333%;
  height: 300px;
  float: left;
}

.oculus .col-4 .col-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.oculus .col-4 .col-bg.bg1 {
  background-image: url("../images/oculus-bg-img1.jpg");
}

.oculus .col-4 .col-bg.bg2 {
  background-image: url("../images/oculus-bg-img2.jpg");
}

.oculus .col-4 .col-bg.bg3 {
  background-image: url("../images/oculus-bg-img3.jpg");
}

.oculus .col-4 .col-bg .inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.oculus .col-4 .col-bg .inner .text {
  position: absolute;
  padding-right: 20px;
  padding-left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  color: #fff;
  text-align: center;
}

.oculus .col-4 .col-bg .inner .text h4 {
  margin: 0;
  font-weight: lighter;
  font-size: 12px;
  letter-spacing: 2px;
  color: #a4a5a6;
}

.oculus .col-4 .col-bg .inner .text h3 {
  margin: 0;
  font-weight: lighter;
}

footer.apple .footer-column {
  float: left;
  width: 20%;
  font-size: 12px;
}

footer.apple .footer-column ul {
  padding-left: 0;
}

footer.apple .footer-column ul li {
  list-style-type: none;
  line-height: 1.8em;
}

footer.apple .footer-column ul li:first-child {
  font-weight: bold;
}

footer.apple .footer-column ul li a {
  color: #666;
}

footer.apple .footer-column ul li a:hover, footer.apple .footer-column ul li a:focus {
  color: #333;
}

footer.apple p, footer.apple span {
  font-size: 12px;
}

footer.apple p {
  border-bottom: 1px solid #ccc;
}

footer.apple .inline-nav {
  display: inline-block;
  padding-left: 20px;
  font-size: 12px;
}

footer.apple .inline-nav li {
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
  display: inline-block;
  border-left: 1px solid #ccc;
}

footer.apple .inline-nav li:first-child {
  border: none;
}

footer.apple .inline-nav li a {
  color: #666;
}

footer.apple .inline-nav li a:hover, footer.apple .inline-nav li a:focus {
  color: #333;
}
