@media (max-width: 480px) {
  .dropbox .hero-text-wrap {
    margin: 0 auto;
    text-align: center;
  }
  .oculus .col-4 {
    width: 100% !important;
  }
}

@media (max-width: 767px) {
  header .left-menu {
    position: absolute;
    right: 0;
    margin-top: 48px;
    z-index: 5;
    width: 300px;
    padding-left: 0;
    background-color: #f2f2f2;
  }
  header .left-menu > li {
    display: block;
    float: none;
  }
  header .left-menu > li a {
    position: relative;
    display: block;
    -webkit-transition: background-color ease-out .5s;
    transition: background-color ease-out .5s;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-delay: initial;
            transition-delay: initial;
  }
  header .left-menu > li a i {
    position: absolute;
    right: 20px;
    top: 18px;
  }
  header .left-menu > li:hover a, header .left-menu > li:focus a {
    background-color: #f2f2f2;
  }
  header .left-menu .dropdown-menu {
    position: relative;
    top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid #999;
    width: 300px;
  }
  header .left-menu .dropdown-menu > li > a {
    background-color: #e5e5e5;
  }
  header .left-menu .dropdown-menu > li > a.active i {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  header .left-menu .dropdown-menu .second-dropdown-menu {
    position: relative;
    top: 0;
    left: 0;
  }
  header .left-menu .dropdown-menu .second-dropdown-menu > li a {
    background-color: #d9d9d9;
  }
  header .right-menu a:focus {
    background: none;
  }
  .dropbox {
    height: 500px;
  }
  .dropbox .hero-text-wrap {
    width: 370px;
    margin-top: 70px;
  }
  .dropbox .hero-text-wrap h1 {
    font-size: 30px;
  }
  .dropbox .hero-text-wrap h2 {
    font-size: 18px;
  }
  .dropbox .hero-bg {
    left: 0;
    margin-left: 500px;
  }
  footer.apple .copyright-div a.us {
    float: none;
    display: block;
  }
  footer.apple .footer-column {
    float: none;
    width: 100%;
  }
  footer.apple .footer-column ul {
    display: none;
  }
  footer.apple .footer-column ul li a {
    display: block;
    padding: 0 10px;
  }
  footer.apple .footer-column .footer-column-section {
    border-bottom: 1px solid #e3e3e3;
  }
  footer.apple .footer-column .footer-column-section h3 {
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.8;
  }
  footer.apple .footer-column .footer-column-section h3:after {
    content: '+';
    font-weight: 300;
    float: right;
    margin-right: 8px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
  footer.apple .footer-column .footer-column-section h3.active {
    font-weight: 400;
  }
  footer.apple .footer-column .footer-column-section h3.active:after {
    -webkit-transform: rotate(45deg) scale(1.1);
        -ms-transform: rotate(45deg) scale(1.1);
            transform: rotate(45deg) scale(1.1);
  }
}

@media (min-width: 768px) {
  .dropbox .hero-bg {
    left: 0;
    margin-left: 550px;
  }
}

@media (max-width: 993px) {
  header .right-menu .search-wrap {
    display: none;
    z-index: 3;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -71px;
    background-color: #f2f2f2;
  }
  header .right-menu .search-wrap .search-inner {
    position: relative;
    float: none;
    border: none;
    width: 80%;
    margin: 20px 10%;
  }
  header .right-menu .search-wrap .search-inner input {
    width: 80%;
  }
  header .right-menu .search-wrap .search-inner button {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: #0078d7;
  }
  header .right-menu .search-wrap .search-inner button:hover, header .right-menu .search-wrap .search-inner button:focus {
    background-color: #0060AC;
  }
}

@media (min-width: 1200px) {
  .dropbox .hero-text-wrap h1 {
    font-size: 45px;
  }
}
