@import "bootstrap_norm_grid.min"

$primary-text-color: #2f2f2f
$primary-hover-color: #f2f2f2
$secondary-hover-color: #e5e5e5
$thirdly-hover-color: #d9d9d9
%a-hover
	&:hover, &:focus
		background-color: $primary-hover-color
		color: $primary-text-color
		text-decoration: none
%a-trans
	transition: background-color ease-out .5s
	transition-property: background-color
    transition-duration: 0.5s
	transition-timing-function: ease-out
	transition-delay: initial
.hidden
	display: none
html
	min-width: 400px
body
	color: $primary-text-color
	background-color: #eee
	font-family: 'Open Sans', sans-serif
	font-size: 15px
	min-width: 400px

header
	position: relative
	background-color: #fff
	.logo
		float: left
		margin-top: 13px
	.left-menu
		float: left
		padding-left: 20px
		margin: 0
		a
			padding: 0 1.5em
			@extend %a-hover
			@extend %a-trans
		> li
			position: relative
			list-style-type: none
			float: left
		i
			font-size: 12px

	.right-menu
		a
			float: right
			padding: 
				left: 10px
				right: 10px
			@extend %a-hover
			font-size: 12px
			i
				color: #7f7f7f
				vertical-align: middle
				font-size: 20px
		.sign-in
			&:hover
				color: #6eafe3
		.search-wrap
			display: inline-block
			.search-inner
				display: inline-block
				border: 1px solid #a9a9a9
				float: right
				margin: 
					top: 8px
					right: 20px
				background-color: #FFF
				input
					width: 220px
					padding-left: 15px
					border: none
					line-height: 30px
					&:focus
						outline: 0
					&::placeholder
						color: $primary-text-color
				button
					color: #7f7f7f
					border: none
					background: none
					padding: 6px 10px
	a
		line-height: 48px
		display: inline-block
		color: $primary-text-color

		img
			float: left
			height: 100%
			max-height: 23px

	// dropdown-menu
	.dropdown-menu
		display: none
		position: absolute
		top: 48px
		left: 0
		z-index: 2
		padding-left: 0
		width: 239px
		background-color: $primary-hover-color
		box-shadow: -1px 1px 3px -1px rgba(0,0,0,.1)
		li
			display: block
			float: none
			a
				position: relative
				display: block
				float: none
				@extend %a-trans
				i
					position: absolute
					right: 20px
					top: 18px
					transition: transform .3s ease
			&:hover, &:focus
				a
					background-color: $secondary-hover-color

		.second-dropdown-menu
			display: none
			position: absolute
			left: 239px
			top: 0
			padding-left: 0
			width: 299px
			background-color: $secondary-hover-color
			box-shadow: 1px 1px 3px -1px rgba(0,0,0,.1)
			a 
				&:hover, &:focus
					background-color: $thirdly-hover-color

// dropbox section
$dropbox-text-color: #47525d
$dropbox-color: #007EE5
.dropbox
	position: relative
	overflow: hidden
	background-color: rgb(238, 238, 238);
	.hero-bg
		width: 100%
		height: 100%
		position: absolute
		left: 50%
		top: 0
		background-image: url("../images/dropbox_hero_unit.jpg")
		background-repeat: no-repeat
		background-size: cover
	height: 700px
	width: 100%
	
	
	.hero-text-wrap
		margin-top: 150px
		width: 445px
		color: $dropbox-text-color
		
		h1
			font-size: 40px
			font-weight: lighter
		h2
			font-size: 20px
			font-weight: lighter
		.btn-primary
			display: inline-block
			margin: 
				top: 30px
				bottom: 15px
			padding: 14px 30px
			border-radius: 5px
			font-size: 20px
			font-weight: lighter
			color: #fff
			background-color: $dropbox-color
			&:hover
				text-decoration: none
				background-color: #3398EA
		span
			display: block
			a 
				text-decoration: underline
				&:hover
					color: #3C9CEB

// Invision section
$invision-bg-color: #323A45
.invision
	background-color: $invision-bg-color
	text-align: center
	color: #fff

	h2
		margin: 
			top: 150px
			bottom: 50px
		font-size: 29px
		font-weight: lighter
	form
		color: #000
		.col-md-3
			margin: 
				top: 10px
				bottom: 10px
		.input
			position: relative
			border-radius: 2px
			background-color: #FFF
			i
				position: absolute
				left: 15px
				top: 20px
				color: #ccc
				font-size: 20px
		input
			height: 60px
			border: none
			margin-left: 40px
			outline: none
		button
			width: 100%
			height: 60px
			border: none
			border-radius: 5px
			outline: none
			background-color: #FF3366
			color: #fff
			text-transform: uppercase
			font-size: 14px
			&:hover
				background-color: #F42156
	p
		margin: 
			top: 30px
			bottom: 150px
		font-size: 12px
		color: #777
		a 
			text-decoration: underline
			color: #777
			&:hover
				color: #fff

// Oculus section
.oculus
	width: 100%
	a 
		width: 100%
		height: 100%
		.col-4
			width: 100/3 + %
			height: 300px
			float: left
			.col-bg
				width: 100%
				height: 100%
				&.bg1
					background-image: url("../images/oculus-bg-img1.jpg")
				&.bg2
					background-image: url("../images/oculus-bg-img2.jpg")
				&.bg3
					background-image: url("../images/oculus-bg-img3.jpg")
				background:
					size: auto 100%
					repeat: no-repeat
					position: center center
				&:hover
					background:
						size: auto 110%
				transition: all .5s
				.inner
					position: relative
					width: 100%
					height: 100%
					background-color: rgba(0,0,0,.5)
					transition: background .1s
					&:hover
						background: none
					
					.text
						position: absolute
						padding: 
							right: 20px
							left: 20px
						top: 50%
						transform: translate(0, -50%)
						width: 100%
						color: #fff
						text-align: center

						h4
							margin: 0
							font-weight: lighter
							font-size: 12px
							letter-spacing: 2px
							color: #a4a5a6
						h3
							margin: 0
							font-size: 20px
							font-weight: lighter

// apple footer
footer.apple
	padding-top: 24px
	font-size: 11px
	.footer-column
		float: left
		width: 20%
		h3
			margin:
				top: 0
				bottom: 0
			font-size: 11px
			line-height: 2em
		ul
			margin:
				top: 0
			padding:
				left: 0
			li
				list-style-type: none
				line-height: 2em
				a
					color: #666
					&:hover, &:focus
						color: #333
	p, span
		color: #999
	p
		border-bottom: 1px solid #e3e3e3
		margin-bottom: 5px
		padding-bottom: 5px
	.inline-nav
		display: inline-block
		margin: 0
		padding:
			top: 6px
			left: 0px
		li 
			padding: 
				left: 10px
				right: 10px
			list-style-type: none
			display: inline-block
			border-left: 1px solid #ccc
			&:first-child
				padding-left: 0
				border: none
			a
				color: #666
				&:hover, &:focus
					color: #333
	.copyright-div
		padding: 
			top: 20px
			bottom: 24px
		.copy
			padding-right: 20px
		a.us 
			float: right
			padding:
				left: 20px
				bottom: 10px
			color: #666
			background:
				image: url('../images/us.png')
				repeat: no-repeat
			&:hover, &:focus
					color: #333

